[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "http-request"]
	path = http-request
	url = https://github.com/kevinsawicki/http-request.git
[submodule "androidquery"]
	path = androidquery
	url = https://github.com/androidquery/androidquery.git
